<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mshintra.profile.mapper.ProfileMapper">

    <select id="selectCheckApproList" resultType="com.example.mshintra.profile.dto.ProfileDto" statementType="CALLABLE">
        { call dbo.Intranet_Paper_SignCnt(#{searchId}, #{searchDate}) }
    </select>

    <select id="selectCommuteStat" parameterType="com.example.mshintra.common.dto.SearchDto" resultType="com.example.mshintra.profile.dto.CommuteDto">
        SELECT
            Il_Date,
            Il_day = SUBSTRING(DATENAME (weekday, Il_Date), 1, 1),
            Il_Code,
            Il_Buser,
            Il_GunFlag,
            Il_Intime,
            Il_Outtime,
            Il_Flag,
            Il_InPC,
            Il_OutPC,
            Il_Remark,
            Il_RegDate,
            Il_UserID
        FROM
            I_InoutList
        WHERE
            Il_Date = #{searchDate}
          AND Il_code = #{searchId}
    </select>

    <select id="selectCoopCnt" parameterType="com.example.mshintra.common.dto.SearchDto" resultType="int">
        SELECT COUNT(*)
        FROM I_ElecSign
        WHERE Es_Date &gt;= CONVERT(datetime, #{searchFromDate})
          AND Es_Date &lt;  DATEADD(day, 1, CONVERT(datetime, #{searchToDate}))
          AND (
            #{searchId} IN (Es_HubJo1, Es_HubJo2, Es_HubJo3, Es_HubJo4, Es_HubJo5)
                OR #{searchBuserCd} IN (Es_HubJo1, Es_HubJo2, Es_HubJo3, Es_HubJo4, Es_HubJo5)
            )
    </select>

    <select id="selectPassChk" resultType="string">
        SELECT dbo.GetPwChk(#{icCode}, #{oldPassword})
    </select>

    <update id="updatePassChange">
        EXEC [Intranet_Security]
        '',
        'InsaCode',
        #{icCode},
        'PassWD',
        #{newPassword}

        EXEC [Intranet_Log]
        #{icCode},
        'PWChange',
        '',
        '비밀번호가 변경되었습니다'
    </update>

</mapper>
