<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mshintra.customer.mapper.CustomerMapper">

    <resultMap id="customerBedCountResultMap" type="com.example.mshintra.customer.dto.CustomerDto">
        <result column="sr_TO" property="srTo"/>
    </resultMap>

    <select id="selectCustomerDailyStats" resultType="com.example.mshintra.customer.dto.CustomerDto" statementType="CALLABLE">
        { call dbo.Intranet_PurPose(#{baseDt}, '1') }
    </select>

    <select id="selectCustomerBedCount" resultMap="customerBedCountResultMap" statementType="CALLABLE">
        { call dbo.Intranet_OCS_TO(#{baseDt}, '3') }
    </select>

    <resultMap id="emergencyPatientCountResultMap" type="com.example.mshintra.customer.dto.CustomerDto">
        <result column="CNT" property="emergencyCnt"/>
    </resultMap>

    <select id="selectEmergencyPatientCount" resultMap="emergencyPatientCountResultMap" statementType="CALLABLE">
        { call dbo.Oracle_Emergency(#{baseDt}, #{baseDt}, '1') }
    </select>
</mapper>
