<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mshintra.main.mapper.MainMapper">

    <resultMap id="mainLibrary" type="com.example.mshintra.notice.dto.NoticeDto" autoMapping="true">
        <result property="viewCount" column="Tn_Count"/>
        <result property="tvUk" column="cc_UK"/>
        <result property="icName" column="Tn_UserName"/>
    </resultMap>

    <select id="selectMainLibraryList" resultMap="mainLibrary" statementType="CALLABLE">
        { call dbo.Intranet_Main_Gongji('3', '5', #{userId}) }
    </select>

    <select id="selectMainBirthDayList" resultType="com.example.mshintra.main.dto.MainBirthDayDto" statementType="CALLABLE">
        { call dbo.Intranet_Main_BirthDay(#{searchDate}, '', '') }
    </select>

    <select id="selectMainMealList" resultType="com.example.mshintra.main.dto.MainMealDto">
        SELECT Fm_Date,
               Fm_Flag,
               Fm_type,
               Fm_Code,
               Fm_GuFlag,
               Re_name,
               Fm_Cnt1,
               Fm_Cnt2,
               Fm_Cnt3,
               Fm_Kal,
               Fm_pro,
               Sflag,
               Flag
        FROM dbo.GetRecipeList(#{searchDate}, 'A')
        ORDER BY Fm_Flag, Sflag
    </select>

    <select id="selectMainBulletinList" resultType="com.example.mshintra.main.dto.MainBulletinDto">
        SET NOCOUNT ON;
        DECLARE @saFg VARCHAR(20), @buser VARCHAR(20), @jikgub VARCHAR(20);

        SELECT @saFg = Ic_Saflag, @buser = Ic_Buser, @jikgub = Ic_Jikgub
        FROM dbo.P_InsaCode
        WHERE Ic_Code = #{userId};

        EXEC dbo.Intranet_Main_Gongji1
             #{userId}, #{today}, #{startDate}, #{endDate},
             @saFg, @buser, '0', #{today}, @jikgub;
    </select>
</mapper>
