<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mshintra.monthReport.mapper.MonthReportMapper">

    <select id="selectCashFlowList" resultType="com.example.mshintra.monthReport.dto.CashFlowDto">
        EXEC dbo.Acc_Month_Hyungum
            @ComCD = '001',
            @sDt = #{searchFromDate},
            @eDt = #{searchToDate}
    </select>

</mapper>