<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mshintra.property.mapper.PropertyMapper">

    <select id="selectPropertyLookList" resultType="com.example.mshintra.property.dto.PropertyLookDto">
        EXEC dbo.Property_Look_list_ForWeb
            @BaseDt = #{searchDate},
        @Buser = #{searchBuserCd},
        @Flag = ''
    </select>

</mapper>