<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mshintra.property.mapper.PropertyMapper">

    <select id="selectPropertyLookList" resultType="com.example.mshintra.property.dto.PropertyLookDto">
        EXEC dbo.Property_Look_list_ForWeb
            @BaseDt = #{searchDate},
        @Buser = #{searchBuserCd},
        @Flag = ''
    </select>

    <select id="selectPropertyChangeList" resultType="com.example.mshintra.property.dto.PropertyChangeDto">
        SELECT pc.Pc_Code,
               pc.Pc_Seq,
               pc.Pc_Date,
               pc.Pc_Flag,
               pc.Pc_JumFg,
               pc.Pc_Area1,
               Pc_Area1Nm = ar1.Ar_Name,
               pc.Pc_Area2,
               Pc_Area2Nm = ar2.Ar_Name,
               pc.Pc_RepairPrCD,
               Pc_RepairPrNm = pr.Pr_Name,
               pc.Pc_RepairItem,
               pc.Pc_RepairAmt,
               pc.Pc_Remark,
               pc.Pc_RegDate,
               pc.Pc_UserID,
               Pc_UserNm = dbo.GetSaNm(pc.Pc_UserID)
        FROM I_PropertyChange pc
                 LEFT JOIN I_Area ar1
                           ON ar1.Ar_Code = pc.Pc_Area1
                 LEFT JOIN I_Area ar2
                           ON ar2.Ar_Code = pc.Pc_Area2
                 LEFT JOIN J_ProVider pr
                           ON CONVERT(VARCHAR(50), pr.Pr_Code) = CONVERT(VARCHAR(50), pc.Pc_RepairPrCD)
                          AND ISNULL(pr.Pr_Name, '') &lt;&gt; ''
        WHERE pc.Pc_Flag = #{pcFlag}
          AND pc.Pc_Code = #{ppCode}
        <choose>
            <when test="pcFlag == '3'">
                ORDER BY pc.Pc_Date
            </when>
            <otherwise>
                ORDER BY pc.Pc_Date, pc.Pc_Seq
            </otherwise>
        </choose>
    </select>

    <select id="selectTodayPropertyLookCheckCount" resultType="int">
        SELECT COUNT(1)
        FROM I_PropertyChange
        WHERE Pc_Code = #{pcCode}
          AND Pc_Flag = '3'
          AND Pc_Date = CONVERT(DATETIME, CONVERT(CHAR(10), GETDATE(), 120))
    </select>

    <select id="selectActivePropertyLookFlag" resultType="string">
        SELECT TOP 1 Pl_Flag
        FROM I_PropertyLook
        WHERE CONVERT(DATETIME, CONVERT(CHAR(10), GETDATE(), 120)) BETWEEN Pl_fDt AND Pl_lDt
          AND Pl_Flag IN ('1', '2')
        ORDER BY Pl_fDt DESC
    </select>

    <insert id="insertPropertyLookCheck">
        INSERT INTO I_PropertyChange (
            Pc_Code,
            Pc_Seq,
            Pc_Date,
            Pc_Flag,
            Pc_JumFg,
            Pc_Area1,
            Pc_Remark,
            Pc_UserID,
            Pc_RegDate
        )
        SELECT #{pcCode},
               ISNULL(MAX(Pc_Seq), 0) + 1,
               CONVERT(DATETIME, CONVERT(CHAR(10), GETDATE(), 120)),
               '3',
               #{pcJumFg},
               #{pcArea1},
               CASE
                   WHEN #{pcJumFg} = '1' THEN 'QR 정기 재고조사'
                   WHEN #{pcJumFg} = '2' THEN 'QR 수시 재고조사'
                   ELSE 'QR 재고조사'
                   END,
               #{pcUserID},
               GETDATE()
        FROM I_PropertyChange WITH (UPDLOCK, HOLDLOCK)
        WHERE Pc_Code = #{pcCode}
    </insert>
</mapper>