<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mshintra.vacation.mapper.VacationMapper">

    <select id="selectVacationStatus" resultType="com.example.mshintra.vacation.dto.VacationDto" statementType="CALLABLE">
        { call dbo.Intranet_OffDay_Tot(#{searchDate}, #{ccCode}, '') }
    </select>

</mapper>
