#contactList { max-width: 100%; overflow-x: hidden; }

.contact-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    font-size: 12px;
    line-height: 1.3;
}

.contact-table th,
.contact-table td {
    border: 1px solid #bdbcbc;
    padding: 6px 6px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact-table thead th {
    background: #d0dcea;
    font-weight: 600;
}

/*부서명직급명 배경색*/
.contact-table tbody td[rowspan] {
    /*background: #d0dcea;*/
}

.contact-table th:nth-child(1),
.contact-table td:nth-child(1),
.contact-table th:nth-child(2),
.contact-table td:nth-child(2),
.contact-table th:nth-child(3),
.contact-table td:nth-child(3) {
    white-space: normal;
    word-break: keep-all;
}

.contact-table th:nth-child(4),
.contact-table td:nth-child(4),
.contact-table th:nth-child(5),
.contact-table td:nth-child(5) {
    white-space: nowrap;
}

.contact-table a.tel-link {
    /*color: inherit;*/
    text-decoration: none;
}